<div class="container">
    <div class="perfil">
        <img src="../assets/ana.png" alt="Ana">
    </div>
    <div class="informacoes">
        <h2>Informações Pessoais</h2>
        <form>
            <label><strong>Nome:</strong> Ana Vitória Henriques Silva</label>
            <label><strong>Idade:</strong> 17 anos</label>
            <label><strong>Hobby:</strong> Sair com o namorado e escutar Taylor Swift</label>
            <label><strong>Localização:</strong> São Paulo, Brasil</label>
            <a href="https://github.com/anaecarlos"><img src="../assets/github.png" class="imagem" alt="github"></a>
            <a href="https://www.instagram.com/ana.henriques_/"><img src="../assets/instagram.png" class="imagem" alt="instagram"></a>
        </form>
    </div>
    <button class="botao" routerLink="/">Voltar</button>
</div>