*{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  flex-wrap: wrap;
}

.item{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 3.4em;
}

.item img{
  height: 17.5em;
  width: 17.5em;
  border-radius: 80%;
  cursor: pointer;
}

.item img:hover {
  transform: scale(1.1);
  transition: background-color 0.3s, transform 0.2s ease-in-out; 
}

.item button{
  margin-top: 1.8em;
  padding: 0.9em 1.8em;
  font-size: 1em;
  color: white;
  background-color: #948dec;
  border: none;
  border-radius: 1.5em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s ease-in-out; 
}

.item button:hover {
  background-color: #c8bff6;
  transform: scale(1.05); 
}